<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Ticket Service Client</title>
</head>
<body>
<div th:fragment="request_form">
  <form th:action="@{${apiVersion} + '/ticket-' + ${action} + '-request/perform'}" class="white_border" method="post" th:object="${dto}">
    <label>User ID: <input type="text" th:field="*{userId}"></label><br>
    <label>Event ID: <input type="number" th:field="*{eventId}"></label><br>
    <label>Ticket Number: <input type="text" th:field="*{ticketNumber}"></label><br>
    <button type="submit">Send</button>
  </form>
</div>
</body>
</html>