<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ticket Service Client</title>
</head>
<body>
    <aside id="sidebar" class="sidebar" th:fragment="actions_sidebar">
        <h2>Actions:</h2>
        <a th:href="@{${apiVersion} + '/create-event-request'}">CreateEvent</a>
        <a th:href="@{${apiVersion} + '/get-events-request/perform'}">GetEvents</a>
        <a th:href="@{${apiVersion} + '/get-tickets-request'}">GetTickets</a>
        <a th:href="@{${apiVersion} + '/get-user-tickets-request'}">GetUserTickets</a>
        <a th:href="@{${apiVersion} + '/ticket-reserve-request'}">ReserveTicket</a>
        <a th:href="@{${apiVersion} + '/ticket-confirm-request'}">ConfirmReservation</a>
        <a th:href="@{${apiVersion} + '/ticket-cancel-request'}">CancelReservation</a>
    </aside>
</body>
</html>